.btn {
    padding: calc(#{$base-line-height / 2} - 1px) 1ch;
    border: 1px solid var(--main-colour);
    display: inline-block;
    background-color: var(--main-colour);
    color: var(--background-colour);
    text-decoration: none;

    transition: color 0.2s, background-color 0.2s, border 0.2s;

    &:hover,
    &:focus {
        background-color: var(--background-colour);
        border-color: var(--main-colour);
        color: var(--main-colour);
    }
}

a.btn:not(.reverse) {
    &::after {
        content: '>';
        padding-inline-start: 2ch;
        text-decoration: none;
    }
}

a.btn.reverse {
    &::before {
        content: '<';
        padding-inline-end: 2ch;
        text-decoration: none;
    }
}

.btn-bar {
    @include noList();

    .btn {
        margin-inline-end: 2ch;
    }
}