.card {
    padding: calc(#{$base-line-height / 2} - 1px);
    border: 1px solid;

    box-shadow: 3px 3px 15px -6px var(--text-colour);
}

.meta-count {
    @include type-setting(2);
    font-weight: 600;
}