@media screen and (min-width: 1024px) {
    .key-points {
        display: grid;
        gap: var(--pico-block-spacing-vertical);
        grid-template-columns: 1fr 1fr;

        dt {
            margin-block-end: 0;
            grid-row: 1;
        }

        dd {
            margin-inline-start: 0;
            grid-row: 2;
        }
    }
}