.gallery {
  @include noList();

  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;

  grid-gap: #{$base-line-height / 2};

  margin: #{$base-line-height} 0;

  @media screen and (min-width: $breakpoint-med) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: $breakpoint-large) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery-item .item-heading {
  margin: 0;
}