.main-menu {
    @include noList();

    margin: 0;

    @media screen and (min-width: $breakpoint-large) {
        @include displayFlex($justify: flex-end);
    }
}

.site-navigation .menu-item>a {
    display: block;
    padding: $base-line-height /2 $base-line-height;
    text-decoration: none;

    &[href="#content"] {
        font-weight: bold;
    }
}

.skip-content {
    @include position($position: fixed, $left: 50%, $top: $base-line-height);

    font-size: 3rem;
    line-height: 1;

    z-index: 2;
}

.menu {
    @include displayFlex(row wrap);
}

.breadcrumbs ol {
    @include noList();
    @include displayFlex(row wrap);

    margin: $base-line-height 0 0;

    li:not(:last-child)::after {
        content: "/";
        padding: 0 0.5ch;
    }

    li a[aria-current="location"] {
        color: var(--contrast-colour);
    }
}