.post-title {
  margin-bottom: 0;
}

.text-block {
  margin: $base-line-height 0;

  column-width: 50ch;
  column-gap: $base-line-height;
}

.text-block > :first-child {
  margin-top: 0;
}

.text-block > :last-child {
  margin-bottom: 0;
}

.text-block p:first-of-type:first-letter {
  initial-letter: 2;
}

.meta {
  margin-top: 0;
  font-style: italic;
}
