:root {
  @include print-palette($palette-light);

  @media screen and (prefers-color-scheme: dark) {
    @include print-palette($palette-dark);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  --colour-text: var(--palette-base_4);
  --colour-background: var(--palette-base_0);
  --colour-main: var(--palette-main_1);
  --colour-main_dark: var(--palette-main_0);
  --colour-contrast: var(--palette-contrast_1);

  --site-padding: #{$base-line-height};
}