$palette-light: (
    "main": (
        "0": #1d6ea9,
        "1": #1f76b6
    ),
    "contrast": (
        "1": #d72825
    ),
    "base": (
        "0": #fdf6e3,
        "3": #627272,
        "4": #586e75
    )
);

$palette-dark: (
    "main": (
        "0": #2f8bcd,
        "1": #3294da
    ),
    "contrast": (
        "1": #e8625f
    ),
    "base": (
        "0": #002b36,
        "3": #759299,
        "4": #93a1a1
    )
);

@mixin print-palette($palette) {
    // Split palette into shades
    @each $hue, $values in $palette {

        // and then split each shade into values and hex codes
        @each $value, $hex in $values {
            $varname: $hue + "_"+ $value;
            --palette-#{$varname}: #{$hex};
        }
    }
}