//Simple lightbox
$sl-overlay-background: var(--monotones_base1);
$sl-overlay-opacity: 0.9;
$sl-navigation-color: var(--monotones_bas1);
$sl-caption-color: var(--monotones_base1);
$sl-caption-background: rgba(#fdf6e3, 0.8);