{% macro nav_link(url, name) %}
    {% if current_url == url %}{% set url = "#content" %}{% endif %}
    <li class="menu-item">
        <a href="{{ url }}">{{ name }}</a>
    </li>
{%- endmacro nav_link %}

{% macro breadcrumb(path) %}
{% set cur = "/" -%}
    <li>
    {% if path | first == "" %}
        <a href="{{cur}}" aria-current="location">home</a>
    {% else %}
        <a href="{{cur}}">home</a>
    {% endif %}
    </li>
{% for elt in path %}
    {% set_global cur = cur ~ elt ~ "/" %}
    <li>
    {% if loop.last %}
        <a href="{{cur}}" aria-current="location">{{ elt }}</a>
    {% else %}
        <a href="{{cur}}">{{ elt }}</a>
    {% endif %}
    </li>
{% endfor %}
{%- endmacro breadcrumb %}