<form name="contact" method="POST" data-netlify="true">
    <p>
        <label for="email">Your Email:</label>
        <input type="email" name="email" id="email" placeholder="e.g. jsmith@example.com" />
    </p>
    <p>
        <label for="message">Message:</label>
        <textarea name="message" id="message"></textarea>
    </p>
    <p>
        <input type="checkbox" name="privacy" id="privacy" required />
        <label for="privacy">I consent to my data being used in accordance with the <a href="/privacy">privacy
                policy</a>.</label>
    </p>
    <p>
        <input type="submit" value="Send" />
    </p>
</form>