{# get root node to generate menu #}
{% set root = get_section(path="_index.md") %}
  <ul class="main-menu">
    {# generate links for sections #}
    {% for link in root.subsections %}
      {% set item = get_section(path=link, metadata_only=true) %}
      {{ macros::nav_link(url=item.permalink, name=item.title) }}
    {% endfor %}

    {# generate links for pages #}
    {% for item in root.pages | reverse %}
      {% if item.extra.exclude_nav %}{% continue %}{% endif %}
      {{ macros::nav_link(url=item.permalink, name=item.title) }}
    {% endfor %}
  </ul>
