{% extends "base.html" %}
{% block meta %}
{{ macros::title(title=taxonomy.name | capitalize) }}
<meta name="description" content="{{ macros::taxonomy_description(taxonomy=taxonomy, term=taxonomy) }}" />
{% endblock meta %}

{% block content %}
{{ macros::breadcrumbs(path=current_path) }}
<h1>{{ taxonomy.name | capitalize }}</h1>
<p>{{ macros::taxonomy_description(taxonomy=taxonomy, term=taxonomy) }}</p>
<ul class="grid">
    {% for term in terms %}
    <li>
        <article>
            <header>
                <h2>
                    {{ macros::link(href=term.permalink, text=term.name | capitalize) }}
                </h2>
            </header>
            <p>{{ macros::taxonomy_description(taxonomy=taxonomy, term=term) }}</p>
            <footer>
                <p>{{ term.pages | length }} Item{% if term.pages | length > 1 %}s{% endif %}</p>
            </footer>
        </article>
    </li>
    {% endfor %}
</ul>
{% endblock content %}