{% extends "base.html" %}
{% block meta %}
{{ macros::title(title=term.name | capitalize) }}
<meta name="description" content="{{ macros::taxonomy_description(taxonomy=taxonomy, term=taxonomy) }}" />
{% endblock meta %}

{% block content %}
<h1>{{ term.name | capitalize }}</h1>
<p>{{ macros::taxonomy_description(taxonomy=taxonomy, term=term) }}</p>
<ul class="grid">
    {% for item in paginator.pages %}
    <li>
        <article>
            <header>
                <h2>
                    {{ macros::link(href=item.extra.canonical | default(value=item.permalink), text=item.title) }}
                </h2>
            </header>
            <div>
                <p>{{ item.description }}</p>
            </div>
            <footer>
                <p>Categories: {{ item.taxonomies[taxonomy.name] | join(sep=", ") }}</p>
            </footer>
        </article>
    </li>
    {% endfor %}
</ul>
{{ macros::pagination(paginator=paginator) }}
{% endblock content %}