{% import "macros/macros.html" as macros %}
{# Setup this value independent of whether page or section #}
{% if page %}
  {% set this = page %}
{% elif section %}
  {% set this = section %}
{% endif %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    {% block meta %}
      <meta name="description" content="{{ this.description }}">
    {% endblock meta %}

    <link rel="stylesheet" href="{{ get_url(path='css/main.css') }}" media="screen" />
    <link rel="stylesheet" href="{{ get_url(path='css/print.css') }}" media="print" />

    {% if this.title %}
      <title>{{ this.title }}{% if config.title %} | {{ config.title }}{% endif %}</title>
    {% elif config.title %}
      <title>{{ config.title }}</title>
    {% endif %}
  </head>
  <body class="page {% block body_class %}{% endblock body_class %}">
    <header class="site-header">
      {% block skip_content %}
        {% include "includes/skip_content.html" %}
      {% endblock skip_content %}
      <div class="site-branding">
        <a href="/" class="site-title">{{ config.title }}</a>
      </div>
      <nav aria-label="site" class="site-navigation">
        {% include "includes/nav.html" %}
      </nav>  
    </header>

    {% block content %}
        {% include "includes/content.html" %}
    {% endblock content %}

    <footer class="site-footer">
      <ul class="menu">
        <li class="menu-item"><a href="{{ get_url(path="sitemap.xml") }}">Sitemap</a></li>
      </ul>
    </footer>
  </body>
</html>
