{% extends "index.html" %}
{% block content %}
<main id="content" class="site-content">
    {% if this.extra.url %}
        <h1><a href="{{ this.extra.url }}">{{ this.title }}</a></h1>
    {% else %}
        <h1>{{ this.title }}</h1>
    {% endif %}
    {% if this.content %}
        {{ this.content | safe }}
    {% endif %}

    <h2>Site Scores</h2>
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th scope="col"><a href="https://developers.google.com/speed/pagespeed/insights/">Pagespeed Insights</a></th>
                    <th scope="col"><a href="https://www.websitecarbon.com/">Website Carbon Calculator</a></th>
                    <th scope="col"><a href="https://wave.webaim.org/">WAVE</a></th>
                    <th scope="col"><a href="https://themarkup.org/blacklight">Blacklight</a></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mobile: {{ this.extra.pagespeed.mobile }}. Desktop: {{ this.extra.pagespeed.desktop }}</td>
                    <td>{{ this.extra.carbon.grams }}g</td>
                    <td>Errors: {{ this.extra.wave.errors }}. Alerts: {{ this.extra.wave.alerts }}.</td>
                    <td>{{ this.extra.blacklight.short }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <details>
        <summary>How these scores are calculated</summary>
        <p>The website homepage, and one randomly selected other page, are tested using a series of automated tools and the results aggregated. None of these tools can be considered 100% accurate, and may report some false negatives and positives, but they do provide a good objective indication of website performance without the need for a manual audit.</p>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th scope="col">Tool</th>
                        <th scope="col">Checks</th>
                        <th scope="col">Aggregation Method</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Pagespeed Insights</td>
                        <td>Page load speed on mobile and desktop.</td>
                        <td>Mean of results.</td>
                    </tr>
                    <tr>
                        <td>Website Carbon Calculator</td>
                        <td>Carbon emitted from viewing page.</td>
                        <td>Mean of results.</td>
                    </tr>
                    <tr>
                        <td>WAVE</td>
                        <td>Compliance with Web Content Accessibility Guidelines (WCAG).</td>
                        <td>Worst individual score.</td>
                    </tr>
                    <tr>
                        <td>Blacklight</td>
                        <td>Presence of user tracking technologies on page.</td>
                        <td>Single score, as it automatically checks multiple pages.</td>
                    </tr>
                </tbody>
            </table>
        </div>
      </details>

    <h2>Updated</h2>
    <p>This page was last updated on <time datetime="{{this.updated | default(value=this.date)}}">{{this.updated | default(value=this.date)}}</time></p>

</main>
{% endblock content %}