form {
  margin: $base-line-height 0;
}

input,
button,
textarea {
  @include type-setting(0);
  font-family: $font-family_body;
  line-height: $base-line-height;

  padding: (calc(#{$base-line-height / 4} - 2px) calc(#{$base-line-height / 2} - 2px));
  border: 2px solid;
  border-radius: 3px;
  width: 100%;
  max-width: 40ch;

  background: transparent;
  color: inherit;

  transition: border 0.2s, color 0.2s, background-color 0.2s;

  &:invalid,
  &:out-of-range {
    color: var(--colour-contrast);
  }

  //Focus last so it overrides :invalid
  &:focus {
    color: var(--colour-main);
    outline-style: none;
    border-style: dashed;
  }
}

textarea {
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  float: left;
  margin: 0.25rem 0.5rem;
  margin-inline-start: 0;

  &:focus {
    border-style: solid;
    outline-style: dashed;
  }
}

input[type="submit"],
input[type="reset"],
button {
  border-style: outset;

  &:hover {
    color: var(--colour-background);
    border-color: var(--colour-main_dark);
    background-color: var(--colour-main);
  }

  &:focus {
    outline-color: var(--colour-main);
    outline-style: dashed;

    border-style: outset;
    color: var(--colour-background);
    border-color: var(--colour-main_dark);
    background-color: var(--colour-main);
  }

  &:active {
    border-style: inset;
    color: var(--colour-background);
    border-color: var(--colour-main_dark);
    background-color: var(--colour-main_dark);
  }
}

label {
  display: block;
}