img, video {
  width: 100%;
  height: auto;
}

figure {
  --this-text-colour: var(--colour-background);
  --this-background-colour: var(--colour-main);

  position: relative;

  column-span: all;

  &:focus-within, &:hover {
      --this-background-colour: var(--colour-contrast);
  }
}

figcaption {
  @include position($position: absolute, $right: 0, $bottom: 0, $left: 0);

  background-color: var(--this-background-colour);
  color: var(--this-text-colour);

  pointer-events: none;

  padding: calc(var(--site-padding) / 2) var(--site-padding);

  transition: background-color 0.2s, color 0.2s;
}
