@include fontFace($fontFamily: 'Lora',
  $src: '../fonts/Lora/',
  $fonts: (200 900: (normal: "Lora-VariableFont_wght",
      italic: "Lora-Italic-VariableFont_wght",
    )),
  $variable: true,
  $display: swap);

body {
  font-family: $font-family_body;
  color: var(--text-colour);

  @include type-setting(0);
}

p {
  @include type-setting(0);
  margin: $base-line-height 0;

  page-break-inside: avoid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: $base-line-height;
  margin-bottom: $base-line-height;

  color: var(--main-colour);

  font-family: $font-family_heading;
  font-weight: 400;

  break-after: avoid;
}

h1 {
  @include type-setting(6);
}

h2 {
  @include type-setting(5);
}

h3 {
  @include type-setting(4);
}

h4 {
  @include type-setting(3);
}

h5 {
  @include type-setting(2);
}

h6 {
  @include type-setting(1);
}

small {
  @include type-setting(-1);
}

code {
  line-height: 0;
}

dt {
  color: var(--main-colour);
}