.site-footer {
  @extend .site-header;
  @include displayFlex(row wrap, space-between, center);

  background-color: var(--colour-background);
  color: var(--colour-text);
  
  border-top: 1px solid var(--colour-main);
}

  .site-footer .menu {
    @include noList();
  }

    .site-footer .menu-item {
      margin-inline-start: 1ch;
    }
