.site-header {
  --colour-text: var(--colour-main);
  @include displayFlex($justify: space-between, $align: center);

  border-bottom: 1px solid var(--colour-main);
}

.site-branding {
  @include type-setting(4);
  padding: var(--site-padding) calc(var(--site-padding) / 2);

  background-color: var(--colour-background);
  color: var(--colour-text);
}

.site-title,
.site-description {
  margin: 0;

  font-size: inherit;
  line-height: inherit;
}