body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;

    main {
        flex-grow: 1;
    }
}

body > header {
    border-bottom: 1px solid var(--pico-primary);
}

body > footer {
    border-top: 1px solid var(--pico-primary);
}